@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@font-face {
  font-family: "Archivo";
  src: url("https://brandonbirk.ca/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  src: url("https://brandonbirk.ca/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Tilt Warp";
  src: url("https://brandonbirk.ca/fonts/TiltWarp-Regular-VariableFont_XROT,YROT.ttf") format("truetype");
}
.landing-banner {
  overflow: hidden;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  color: #ffffff;
}
.landing-banner .landing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  justify-content: left;
  top: 25%;
  width: 80%;
  margin: 0 auto;
}
.landing-banner .landing-container .landing-title {
  width: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  color: #2d2d2d;
}
.landing-banner .landing-container .landing-subheading {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  z-index: 1;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: #2d2d2d;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}
.landing-banner .landing-container .landing-subheading.animate__bounceOut {
  animation-name: bounceOut;
  animation-delay: 0.5s; /* Add a delay of 0.5 seconds */
}
.landing-banner .landing-container .landing-description {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  opacity: 0.5;
  letter-spacing: 1px;
  line-height: 1.5rem;
  width: 100%;
  z-index: 1;
  transition: opacity 0.5s ease-out;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: #2d2d2d;
}

@media screen and (min-width: 48rem) {
  .landing-banner .landing-container {
    top: 35%;
    gap: 1rem;
  }
  .landing-banner .landing-container .landing-title {
    font-size: 3.5rem;
  }
  .landing-banner .landing-container .landing-subheading {
    font-size: 1.8rem;
  }
  .landing-banner .landing-container .landing-description {
    font-size: 1rem;
    width: 100%;
    padding: 0 10rem;
  }
}
/* Down arrow */
.arrow-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 60px;
  height: 40px;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}
.arrow-down:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: pointer;
}

/* Left arrow */
.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: #dd7157;
  transform: rotate(240deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
  box-shadow: 0px 0px 20px #dd7157;
}
.left:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

/* Right arrow */
.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: #dd7157;
  transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
  box-shadow: 0px 0px 20px #dd7157;
}
.right:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

/* Animations */
@keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes leftArrow {
  100% {
    transform: rotate(225deg);
  }
}
@keyframes rightArrow {
  100% {
    transform: rotate(-45deg);
  }
}
.hint {
  display: none;
}

@media screen and (min-width: 48rem) {
  .hint {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
    opacity: 0.5;
  }
}
.animation {
  position: relative;
  display: flex;
  width: 15rem;
  height: auto;
  margin: 0 auto;
  z-index: 999;
}

.main-nav {
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease, visibility 0s 0.5s;
}
.show .main-nav {
  transition: height 0.5s ease, visibility 0s;
  visibility: visible;
  height: 100vh;
}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.main-nav ul li {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}
.main-nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2d2d2d;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 2rem;
  transition: 0.3s ease;
}
.main-nav ul li a:hover, .main-nav ul li a:focus, .main-nav ul li a:active {
  background-color: transparent;
  color: #48a4ff;
}
.main-nav li:not(:first-child) a {
  border-top: 1px solid #d3d3d3;
  padding: 3rem 0;
  margin: 0 4rem;
}

.btn-main-nav {
  color: transparent;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
  margin: 1rem;
}

.hamburger-icon {
  position: relative;
  right: 0;
  cursor: pointer;
}
.hamburger-icon:hover .line {
  background-color: #dd7157;
}

.line {
  background-color: #161616;
  display: block;
  position: relative;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin: 5px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.line:hover, .line:focus, .line:active {
  background-color: transparent;
  color: #48a4ff;
}
.show .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.show .line:nth-child(2) {
  opacity: 0;
}
.show .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (min-width: 48rem) {
  .main-nav {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    transition: none;
    overflow: visible;
    padding-right: 4rem;
  }
  .show .main-nav {
    display: flex;
    transition: none;
  }
  .main-nav ul {
    flex-wrap: nowrap;
    width: 20rem;
  }
  .main-nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 0rem;
  }
  .main-nav ul li a {
    padding: 0;
    text-align: center;
    border-top: none;
    height: 100%;
    transition: 0.3s;
  }
  .main-nav li:not(:first-child) a {
    border-top: none;
    margin: 0;
  }
  .main-nav ul li a:hover, .main-nav ul li a:focus, .main-nav ul li a:active {
    background-color: transparent;
    color: #48a4ff;
  }
  .btn-main-nav {
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    border: none;
    background: none;
    margin-right: 0.75em;
  }
}
#post-13 {
  min-height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
  padding: 6rem 0;
}
#post-13 .image-container {
  position: relative;
  display: inline-block;
  display: flex;
  max-width: 60%;
  margin: 0 auto;
}
#post-13 .image-container img {
  display: block;
  width: 100%;
  z-index: 2;
  border-radius: 5%;
}
#post-13 .image-container .overlay {
  position: absolute;
  border-radius: 5%;
  scale: 1.1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dd7157;
  opacity: 0.8;
  transition: width 0.5s, opacity 0.5s ease;
  transform: translateX(0);
  z-index: 1;
}
#post-13 .image-container .overlay.show {
  transform: translateX(-100%);
}
#post-13 .about-description {
  margin: 2rem 3rem;
  color: #21013a;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  line-height: 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
#post-13 .about-description h3 {
  font-family: "Poppins", sans-serif;
}
#post-13 .about-description p {
  font-family: "Open Sans", sans-serif;
  color: #2d2d2d;
}
#post-13 img::after {
  border: 2px solid #aa402b;
  top: 20px;
  left: 20px;
  z-index: 2;
}

@media screen and (min-width: 32rem) {
  #post-13 .image-container {
    max-width: 40%;
  }
}
.entry-content {
  position: relative;
  z-index: 1;
}
.entry-content p {
  margin: 2rem;
}

@media screen and (min-width: 48rem) {
  #post-13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #post-13 .image-container {
    max-width: 25%;
    object-fit: contain;
    margin: 2rem;
  }
  #post-13 .about-description {
    max-width: 500px;
    margin: 2rem 1rem;
    line-height: 1.5rem;
  }
  #post-13 .about-description p {
    font-size: 15px;
  }
  .entry-content {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 81rem) {
  #post-13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #post-13 .image-container {
    max-width: 17%;
    height: auto;
    margin: 2rem;
  }
  #post-13 .about-description {
    max-width: 30%;
    font-size: 12px;
  }
  #post-13 .about-description h3 {
    font-size: 1.3rem;
  }
  .entry-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .entry-content p {
    max-width: 50%;
  }
}
.about-animation {
  width: 100px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-around;
  text-align: center;
  min-height: 100vh;
  padding: 2rem 0;
}
.work-container .work-section-title {
  text-align: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  color: #48a4ff;
}
.work-container .single-project {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  width: fit-content;
  max-width: 500px;
  position: relative;
  z-index: 5;
  margin: 2rem;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #dddddd;
  padding: 1rem;
  transition: 0.3s ease;
}
.work-container .single-project:hover {
  transform: scale(1.05);
}
.work-container .single-project .project-text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 26rem;
}
.work-container .single-project .project-text-container .project-title {
  font-size: 1.4rem;
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
}
.work-container .single-project .project-text-container .project-excerpt {
  font-family: "Open Sans", sans-serif;
  color: #2d2d2d;
  width: 80%;
}
.work-container .single-project .project-image {
  max-width: 100%;
  width: 800px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #dddddd;
  object-fit: cover;
  max-height: 22rem;
}
.work-container .single-project .tools-used {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  max-height: 2.3rem;
}
.work-container .single-project .tools-used p {
  color: #48a4ff;
  padding: 0.4rem 1rem;
  box-shadow: 0px 0px 10px #dddddd;
  font-weight: 400;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.project-button a {
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  color: #2d2d2d;
  background-color: #ebebeb;
  padding: 0.5rem 1rem;
  transition: ease-in-out 0.2s;
  font-weight: 600;
}
.project-button a:hover {
  background-color: #c4c4c4;
}

@media screen and (min-width: 48rem) {
  .work-container .single-project {
    width: 60rem;
    flex-direction: row;
  }
  .work-container .single-project .project-text-container {
    padding: 2rem 0;
  }
  .work-container .single-project .project-image {
    width: 30rem;
    margin: 0;
  }
}
@media screen and (min-width: 62.5rem) {
  .work-container .single-project {
    max-width: 100%;
  }
}
.contact-container {
  text-align: center;
  gap: 2rem;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  z-index: 99;
}
.contact-container .content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.contact-container .content-container .contact-title {
  font-size: 1.4rem;
  font-weight: 800;
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
}
.contact-container .content-container .contact-blurb {
  margin: 0 2rem;
  color: #ffffff;
}

@media screen and (min-width: 48rem) {
  .contact-container {
    padding: 5rem 2rem;
  }
  .contact-container .contact-title {
    font-size: 2Drem;
  }
  .contact-container .contact-blurb {
    font-size: 1.5rem;
  }
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.4rem;
  width: 100%;
}
.social-icons .solo-social {
  transition: 0.5s ease;
  margin: 0 1rem;
}
.social-icons .solo-social:hover {
  transform: scale(1.1);
}
.social-icons .solo-social a {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 50%;
  color: #48a4ff;
  transition: 0.3s ease;
}
.social-icons .solo-social a:hover, .social-icons .solo-social a:active, .social-icons .solo-social a:focus {
  color: #39cd0d;
}

@media screen and (min-width: 48rem) {
  .social-icons {
    font-size: 3rem;
  }
}
@keyframes animateshapes {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
.main-area {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -999;
}
.main-area .shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -999;
}
.main-area .shapes div {
  position: absolute;
  display: block;
  z-index: -999;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  border-radius: 50%;
  opacity: 1;
  animation: animateshapes 25s linear infinite;
}
.main-area .shapes div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.main-area .shapes div:nth-child(2) {
  left: 45%;
  width: 75px;
  height: 75px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.main-area .shapes div:nth-child(3) {
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 4s;
}
.main-area .shapes div:nth-child(4) {
  left: 30%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.main-area .shapes div:nth-child(5) {
  left: 65%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
}
.main-area .shapes div:nth-child(6) {
  left: 18%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.main-area .shapes div:nth-child(7) {
  left: 90%;
  width: 40px;
  height: 40px;
  animation-delay: 15s;
  animation-duration: 20s;
}
.main-area .shapes div:nth-child(8) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.main-area .shapes div:nth-child(9) {
  left: 75%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.main-area .shapes div:nth-child(10) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
}
.main-area .shapes div:nth-child(11) {
  left: 65%;
  width: 135px;
  height: 135px;
  animation-delay: 6s;
}
.main-area .shapes div:nth-child(12) {
  left: 25%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.project-page-container {
  background-color: #fafafa;
}

.project-page-title {
  position: absolute;
  top: 5rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 0 0 2rem 0;
  color: #3e1162;
  font-family: "Tilt Warp", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.logo-name-postpage {
  padding-top: 1rem;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.logo-name-postpage:hover, .logo-name-postpage:focus, .logo-name-postpage:active {
  transform: scale(1.05);
}
.logo-name-postpage a {
  color: #3e1162;
  text-decoration: none;
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-weight: 800;
  transition: 0.3s ease;
}

section {
  display: block;
  position: relative;
  width: 100%;
  top: 11rem;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  line-height: 2rem;
}

#overview,
#software-tools-used,
#inspiration,
#examples,
#final-result {
  min-height: 100vh;
}

.lightbox {
  /* Default to hidden */
  display: none;
  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 1em;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 48rem) {
  .project-page-title {
    top: 10rem;
  }
  section {
    top: 15rem;
  }
}
.block-1 {
  background-color: #fafafa;
  justify-content: center;
}
.block-1 h2 {
  width: 100%;
  text-align: center;
  color: #3e1162;
  font-family: "Tilt Warp", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2rem 0;
  font-weight: 400;
}
.block-1 .project-page-cover {
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  margin: 2rem;
}
.block-1 .project-page-desc1 {
  width: 80%;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project-links-container {
  width: 100%;
}
.project-links-container .project-link-1 {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-links-container .project-link-1 a {
  color: #3e1162;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  border: 2px solid #3e1162;
  border-radius: 2rem;
  padding: 1rem 1rem;
  transition: ease-in-out 0.2s;
}
.project-links-container .project-link-1 a:hover {
  color: #ffffff;
  background-color: #3e1162;
}

.tools-container,
.duration-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}
.tools-container h2,
.duration-container h2 {
  width: 100%;
  color: #3e1162;
  font-family: "Tilt Warp", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2rem 0;
  font-weight: 400;
}
.tools-container img,
.duration-container img {
  width: 20%;
  margin: 0.5rem;
}
.tools-container p,
.duration-container p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .block-1 .project-page-cover {
    max-width: 50%;
  }
  .block-1 .project-page-desc1 {
    max-width: 50%;
  }
  .block-1 .project-link-1 {
    width: 100%;
  }
  .tools-container img {
    max-width: 9%;
  }
}
#software-tools-used {
  background-color: #3e1162;
  color: #ffffff;
}
#software-tools-used .block-2 .lightbox-container-image2 {
  margin: 0 auto;
  width: 80%;
  height: auto;
  margin: 2rem;
  transition: 0.3s ease;
}
#software-tools-used .block-2 .lightbox-container-image2:hover, #software-tools-used .block-2 .lightbox-container-image2:focus {
  filter: brightness(0.4);
}
#software-tools-used .block-2 .lightbox-container-image2 img {
  width: 100%;
}
#software-tools-used .block-2 .project-page-desc2 {
  width: 80%;
  margin: 2rem 0;
}
#software-tools-used .block-2 .project-page-desc3 {
  width: 80%;
  margin: 2rem 0;
}

@media screen and (min-width: 48rem) {
  #software-tools-used .block-2 {
    padding-top: 5rem;
  }
  #software-tools-used .block-2 .lightbox-container-image2 {
    margin: 0 auto;
    width: 40%;
    object-fit: cover;
    margin: 2rem;
  }
  #software-tools-used .block-2 .lightbox-container-image2 img {
    width: 100%;
  }
  #software-tools-used .block-2 .project-page-desc2 {
    width: 40%;
    margin: 2rem;
  }
  #software-tools-used .block-2 .project-page-desc3 {
    width: 60%;
    margin: 2rem;
  }
}
@media screen and (min-width: 81rem) {
  #software-tools-used .block-2 {
    justify-content: center;
    padding-top: 9rem;
  }
  #software-tools-used .block-2 .lightbox-container-image2 {
    margin: 0 auto;
    margin: 2rem;
    max-width: 100%;
    object-fit: cover;
  }
  #software-tools-used .block-2 .lightbox-container-image2 img {
    min-width: 100%;
    object-fit: cover;
    height: 300px;
  }
  #software-tools-used .block-2 .project-page-desc2 {
    width: 40%;
    margin: 2rem;
  }
  #software-tools-used .block-2 .project-page-desc3 {
    width: 70%;
    margin: 2rem;
  }
}
#inspiration {
  padding-top: 4rem;
}
#inspiration .block-3 {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 2rem 0;
}
#inspiration .block-3 .lightbox-container-image3 {
  width: 100%;
  object-fit: cover;
  margin: 2rem 0;
  transition: 0.3s ease;
}
#inspiration .block-3 .lightbox-container-image3:hover, #inspiration .block-3 .lightbox-container-image3:focus {
  filter: brightness(0.4);
}
#inspiration .block-3 .lightbox-container-image3 img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border: 1px solid #2d2d2d;
}
#inspiration .block-3 .project-page-desc-design {
  width: 100%;
  margin: 2rem 0;
}
#inspiration .block-3 .project-page-desc-dev {
  width: 100%;
  margin: 2rem 0;
}
#inspiration .block-3 .image-click {
  font-size: 1rem;
  color: #3e1162;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  #inspiration {
    padding-top: 10rem;
  }
  #inspiration .block-3 .lightbox-container-image3 {
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    margin: 2rem;
  }
  #inspiration .block-3 .project-page-desc-design {
    position: relative;
    max-width: 100%;
    margin: 2rem 0;
  }
  #inspiration .block-3 .project-page-desc-dev {
    position: relative;
    width: 100%;
    margin: 2rem 0;
  }
}
#examples {
  background-color: #3e1162;
  color: #ffffff;
}
#examples .block-4 {
  margin: 2rem 0;
  padding-top: 5rem;
}
#examples .block-4 .lightbox-container-image4 {
  margin: 0 auto;
  height: 300px;
  width: 30%;
}
#examples .block-4 .lightbox-container-image4 img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#examples .block-4 .lightbox-container-image5 {
  margin: 0 auto;
  height: 300px;
  width: 30%;
}
#examples .block-4 .lightbox-container-image5 img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#examples .block-4 .project-page-desc5 {
  width: 60%;
  margin: 2rem 0;
}

@media screen and (min-width: 48rem) {
  #examples .block-4 {
    justify-content: center;
    padding-top: 7rem;
  }
  #examples .block-4 .lightbox-container-image4 {
    margin: 0 auto;
    max-width: 30%;
    max-height: 300px;
    object-fit: cover;
    margin: 2rem;
    transition: 0.3s ease;
  }
  #examples .block-4 .lightbox-container-image4:hover, #examples .block-4 .lightbox-container-image4:focus {
    filter: brightness(0.4);
  }
  #examples .block-4 .lightbox-container-image4 img {
    width: 100%;
  }
  #examples .block-4 .lightbox-container-image5 {
    margin: 0 auto;
    max-width: 30%;
    height: 300px;
    object-fit: cover;
    margin: 2rem;
    transition: 0.3s ease;
  }
  #examples .block-4 .lightbox-container-image5:hover, #examples .block-4 .lightbox-container-image5:focus {
    filter: brightness(0.4);
  }
  #examples .block-4 .lightbox-container-image5 img {
    width: 100%;
  }
  #examples .block-4 .project-page-desc-design {
    max-width: 70%;
    margin: 2rem 0;
  }
  #examples .block-4 .project-page-desc-dev {
    max-width: 70%;
    margin: 2rem 0;
  }
}
#final-result {
  background-color: #fafafa;
  color: #21013a;
}
#final-result .block-5 {
  justify-content: center;
  vertical-align: middle;
  padding-top: 5rem;
}
#final-result .block-5 .lightbox-container-image6 {
  margin: 0 auto;
  width: 50%;
  gap: 0;
  height: auto;
  object-fit: cover;
  transition: 0.3s ease;
}
#final-result .block-5 .lightbox-container-image6:hover, #final-result .block-5 .lightbox-container-image6:focus {
  filter: brightness(0.4);
}
#final-result .block-5 .lightbox-container-image6 .project-page-image6 {
  width: 100%;
}
#final-result .block-5 .project-page-desc6 {
  width: 80%;
  margin: 2rem 0;
}

@media screen and (min-width: 48rem) {
  #final-result .block-5 .lightbox-container-image6 {
    max-width: 30%;
  }
}
@media screen and (min-width: 72rem) {
  #final-result .block-5 {
    justify-content: center;
    gap: 2rem;
    align-content: center;
    height: 100vh;
    padding-top: 0;
  }
  #final-result .block-5 .lightbox-container-image6 {
    margin: 0 auto;
    max-width: 20%;
    height: auto;
    object-fit: cover;
    margin: 2rem;
  }
  #final-result .block-5 .lightbox-container-image6 .project-page-image6 {
    width: 100%;
  }
  #final-result .block-5 .project-page-desc6 {
    max-width: 40%;
    margin: 2rem 0;
  }
}
#related-posts {
  background-color: #2c2035;
  color: #ffffff;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 17rem;
}
#related-posts h3 {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}
#related-posts ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#related-posts ul li {
  height: 4rem;
}
#related-posts ul li a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 2rem;
  padding: 0.6rem 1.3rem;
  transition: 0.3s ease;
  margin: 0 1rem;
  background-color: #dd7157;
}
#related-posts ul li a:hover {
  background-color: #aa402b;
}

@media screen and (min-width: 48rem) {
  #related-posts {
    padding-bottom: 12rem;
  }
}
.project-page-image {
  width: 80%;
  object-fit: cover;
  max-width: 100%;
  max-height: 30rem;
}

.dev-code-container1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

@media screen and (min-width: 48rem) {
  .dev-code-container1 {
    display: flex;
    justify-content: space-around;
  }
}
.entry-content .wp-block-quote .wp-block-code {
  background-color: #21013a;
  color: #ffffff;
  padding: 3rem;
  border-radius: 2%;
}

.to-top {
  position: fixed;
  background-color: transparent;
  border: none;
  right: 5%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 99;
  cursor: pointer;
  color: #48a4ff;
  transition: 0.3s ease-in-out;
}
.to-top:hover, .to-top:active {
  color: #39cd0d;
}

@media screen and (min-width: 48rem) {
  .to-top {
    font-size: 4rem;
    bottom: 80px;
  }
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.icon {
  font-size: 3rem;
}

.circles {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  z-index: 99;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #dd7157;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.circle.active {
  background-color: #dd7157;
}

.home.active,
.about.active,
.works.active,
.contact.active {
  background-color: #dd7157;
}

.details-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  background: #fafafa;
  margin: 0 auto;
}

@media screen and (min-width: 48rem) {
  .details-container {
    max-width: 60%;
  }
}
.bloc-tabs {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.bloc-tabs button {
  font-family: "Tilt Warp", Arial, Helvetica, sans-serif;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 40px;
  background: #fafafa;
  cursor: pointer;
  border: 1px solid #3e1162;
  box-sizing: content-box;
  position: relative;
  outline: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
  color: #3e1162;
  font-size: 1rem;
}

.tabs:not(:last-child) {
  border: 1px solid #3e1162;
  border-bottom: 1px solid transparent;
}

@media screen and (min-width: 48rem) {
  .bloc-tabs {
    display: flex;
  }
  .tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
}
.active-tabs {
  background: #3e1162;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  background: #3e1162;
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: #fafafa;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

.code-container {
  margin: 2rem 0;
  border-radius: 10px;
  background-color: #2c2035;
  padding: 2rem;
  overflow: auto; /* Add a scrollbar when content overflows */
  max-height: 300px; /* Set a maximum height for the container */
}

.code-container pre {
  margin: 0;
}

.code-container code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (min-width: 48rem) {
  .code-container {
    width: 100% !important;
  }
}
header {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  box-shadow: 0px 5px 10px #f1f1f1;
}
header a {
  width: 3rem;
  margin: 1rem;
}
header a .logo-name svg:hover g path, header a .logo-name svg:active g path, header a .logo-name svg:focus g path {
  fill: #2d2d2d;
}
header a .logo-name svg g path {
  transition: 0.3s ease;
  fill: #21013a;
}

@media screen and (min-width: 48rem) {
  header {
    flex-wrap: nowrap;
    height: 100px;
  }
  header ul {
    display: flex;
  }
  header .logo-name {
    transition: 0.5s;
  }
  header .logo-name a img {
    display: flex;
    vertical-align: middle;
  }
}
footer .footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 2rem 0;
}
footer .footer-main .footer-logo {
  max-width: 7rem;
  width: 7rem;
}
footer .footer-main .footer-logo a svg:hover g path, footer .footer-main .footer-logo a svg:active g path, footer .footer-main .footer-logo a svg:focus g path {
  fill: #48a4ff;
}
footer .footer-main .footer-logo a svg g path {
  transition: 0.3s ease;
  fill: #ffffff;
}
footer .footer-main .footer-desc {
  width: 60%;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding: 1rem 0;
  margin: 0 2rem;
}
footer .footer-main .icon-credit {
  width: 60%;
  font-size: 0.7rem;
  color: #474747;
}
footer .footer-main .icon-credit a {
  text-decoration: none;
  font-weight: 800;
  color: #474747;
  transition: 0.3s ease;
}
footer .footer-main .icon-credit a:hover {
  color: #555555;
}

@media screen and (min-width: 48rem) {
  footer .footer-main .footer-desc {
    font-size: 1rem;
  }
}
.specialties-container {
  width: 100%;
  height: 200px;
  background-color: #48a4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.specialties-container .icon-container {
  width: 80%;
  height: 180px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}
.specialties-container .icon-container .specialties-icon-container {
  text-align: center;
  display: inline-block;
  margin-right: 20px; /* Adjust this value based on your design */
}
.specialties-container .icon-container .specialties-icon-container svg {
  width: 50px;
  height: 50px;
  color: #ffffff;
  fill: #ffffff;
}
.specialties-container .icon-container .specialties-icon-container p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}/*# sourceMappingURL=styles.css.map */