@use "variables" as *;

#post-13 {
  min-height: 100vh;
  overflow: hidden;
  background-color: $background-color-light;
  padding: 6rem 0;

  // Profile Image

  .image-container {
    position: relative;
    display: inline-block;
    display: flex;
    max-width: 60%;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      z-index: 2;
      border-radius: 5%;
    }

    .overlay {
      position: absolute;
      border-radius: 5%;
      scale: 1.1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $second-color-theme;
      opacity: 0.8; // set the color and opacity of the overlay
      transition: width 0.5s, opacity 0.5s ease; // add a transition for the transform property
      transform: translateX(0); // move the overlay offscreen
      z-index: 1;
    }
  }

  .image-container .overlay.show {
    transform: translateX(-100%); // move the overlay back onto the image
  }

  .about-description {
    margin: $default-spacing 3rem;
    color: $first-color-theme;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    line-height: 2rem;
    position: relative;
  }

  img::after {
    border: 2px solid $fourth-color-theme;
    top: 20px;
    left: 20px;
    z-index: 2;
  }
}

// 512px
@media screen and (min-width: 32rem) {
  #post-13 {
    .image-container {
      max-width: 40%;
    }
  }
}

.entry-content {
  position: relative;
  z-index: 1;
  p {
    margin: $default-spacing;
  }
}

// 768px - Tablet
@media screen and (min-width: 48rem) {
  #post-13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .image-container {
      max-width: 25%;
      object-fit: contain;
      margin: $default-spacing;
    }

    .about-description {
      max-width: 30%;
      margin: $default-spacing 1rem;
      font-size: 1rem;
    }
  }

  .entry-content {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

// 1296px
@media screen and (min-width: 81rem) {
  #post-13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .image-container {
      max-width: 17%;
      height: auto;
      margin: $default-spacing;
    }

    .about-description {
      max-width: 40%;
      font-size: 1.2rem;
    }
  }

  .entry-content {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      max-width: 50%;
    }
  }
}
