@use "variables" as *;

.contact-container{
    text-align: center;
    height: 40vh;
    background-color: $first-color-theme;

    .contact-title{
        padding: $default-spacing 0;
    }

    .contact-blurb{
        margin: 0 $default-spacing;
    }
}