@use "variables" as *;

.contact-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: $first-color-theme;
  padding: 10rem $default-spacing;
  position: absolute;
  overflow: hidden;
  z-index: 99;

  .contact-title {
    padding: $default-spacing 0;
    font-size: 3rem;
    font-weight: 800;
    color: $second-color-theme;
    font-family: "Archivo", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .contact-blurb {
    margin: 0 $default-spacing;
    color: $text-color-light;
  }
}

@media screen and (min-width: 48rem) {
  .contact-container {
    padding: 15rem $default-spacing;
    .contact-title {
      font-size: 4rem;
    }

    .contact-blurb {
      font-size: 1.7rem;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5rem;
  font-size: 3rem;

  .solo-social {
    transition: 0.5s ease;
    margin: 0 1rem;

    &:hover {
      transform: scale(1.1);
    }

    a {
      color: $second-color-theme;
      transition: 0.3s ease;

      &:hover,
      &:active,
      &:focus {
        color: $fourth-color-theme;
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .social-icons {
    font-size: 4rem;
  }
}

@keyframes animateshapes {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-2000px);
  }
}

.main-area {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -999;

  .shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;

    div {
      position: absolute;
      display: block;
      z-index: -999;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      bottom: -150px;
      border-radius: 50%;
      opacity: 1;
      animation: animateshapes 25s linear infinite;
    }

    div:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    div:nth-child(2) {
      left: 45%;
      width: 75px;
      height: 75px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    div:nth-child(3) {
      left: 85%;
      width: 90px;
      height: 90px;
      animation-delay: 4s;
    }

    div:nth-child(4) {
      left: 30%;
      width: 30px;
      height: 30px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    div:nth-child(5) {
      left: 65%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
    }

    div:nth-child(6) {
      left: 18%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    div:nth-child(7) {
      left: 90%;
      width: 40px;
      height: 40px;
      animation-delay: 15s;
      animation-duration: 20s;
    }

    div:nth-child(8) {
      left: 25%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    div:nth-child(9) {
      left: 75%;
      width: 70px;
      height: 70px;
      animation-delay: 0s;
      animation-duration: 10s;
    }

    div:nth-child(10) {
      left: 35%;
      width: 50px;
      height: 50px;
      animation-delay: 0s;
    }

    div:nth-child(11) {
      left: 65%;
      width: 135px;
      height: 135px;
      animation-delay: 6s;
    }

    div:nth-child(12) {
      left: 25%;
      width: 100px;
      height: 100px;
      animation-delay: 0s;
      animation-duration: 8s;
    }
  }
}
