@use "variables" as *;

.landing-banner {
  overflow: hidden;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: $background-color-light;
  color: $text-color-light;

  .landing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    justify-content: left;
    top: 25%;
    width: 80%;
    margin: 0 auto;

    .landing-title {
      width: 100%;
      font-size: 2.2rem;
      font-weight: 600;
      font-family: $main-font;
      letter-spacing: 1px;
      z-index: 1;
      color: $text-color-dark;
    }

    .landing-subheading {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 600;
      font-family: $main-font;
      letter-spacing: 1px;
      z-index: 1;
      transition: opacity 0.5s ease-out;
      opacity: 1;
      animation-name: bounceIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      color: $text-color-dark;
    }

    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: scale(0.1);
      }
      60% {
        opacity: 1;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes bounceOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      40% {
        opacity: 1;
        transform: scale(1.2);
      }
      100% {
        opacity: 0;
        transform: scale(0.1);
      }
    }

    .landing-subheading.animate__bounceOut {
      animation-name: bounceOut;
      animation-delay: 0.5s; /* Add a delay of 0.5 seconds */
    }

    .landing-description {
      font-size: 0.8rem;
      font-weight: 400;
      font-family: $text-font;
      opacity: 0.5;
      letter-spacing: 1px;
      line-height: 1.5rem;
      width: 100%;
      z-index: 1;
      transition: opacity 0.5s ease-out;
      animation-name: bounceIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      color: $text-color-dark;
    }
  }
}

// 768px - Tablet
@media screen and (min-width: 48rem) {
  .landing-banner {
    .landing-container {
      top: 35%;
      gap: 1rem;
      .landing-title {
        font-size: 3.5rem;
      }

      .landing-subheading {
        font-size: 1.8rem;
      }

      .landing-description {
        font-size: 1rem;
        width: 100%;
        padding: 0 10rem;
      }
    }
  }
}

/* Down arrow */
.arrow-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 60px;
  height: 40px;
  animation: arrow 0.5s 1s infinite ease-out alternate;

  &:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    cursor: pointer;
  }
}

/* Left arrow */
.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: $second-color-theme;
  transform: rotate(240deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
  box-shadow: 0px 0px 20px $second-color-theme;

  &:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}

/* Right arrow */
.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: $second-color-theme;
  transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
  box-shadow: 0px 0px 20px $second-color-theme;

  &:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}

/* Animations */
@keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes leftArrow {
  0% {
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {
  }
  100% {
    transform: rotate(-45deg);
  }
}

.hint {
  display: none;
}
// 768px - Tablet
@media screen and (min-width: 48rem) {
  .hint {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: $default-spacing;
    opacity: 0.5;
  }
}
