@use "variables" as *;

.landing-banner{
position: relative;
z-index: -1;
text-align: center;
width: 100vw;
height: 400px;
background-color: $background-color-dark;
color: $text-color-light;

.landing-title{
    font-size: 2.3rem;
    text-align: center;
    position: relative;
    top: 10rem;
}

}
