@use "variables" as *;

.landing-banner{
position: relative;
z-index: -1;
text-align: center;
width: 100%;
height: 100vh;
background-color: $background-color-dark;
color: $text-color-light;

.landing-title{
    font-size: 2.3rem;
    text-align: center;
    position: relative;
    top: 17rem;
}

}

// 768px - Tablet
@media screen and (min-width: 48rem) {

    .landing-banner{

        .landing-title{
            top: 20rem;
        }
    }
}