@use "variables" as *;

.main-nav {
    display: block;
    text-align: center;
    position: fixed;
    z-index: 98;
    width: 100vw;
    justify-content: center;
    bottom: 0;
    height: 0;
    background-color: #FFF;
    margin: 0 auto;
    transition: height 0.5s ease, visibility 0s;
  
    .logo-name{
      padding-top: 1rem;
      text-transform: uppercase;

      a{
        color: $third-color-theme;
        text-decoration: none;
        font-family: Archivo, Arial, Helvetica, sans-serif;
        font-weight: 800;

      }
    }

    ul{
        display: block;
        list-style: none;
        // padding: 1rem 0;
        transition: height 0.5s ease, visibility 0s;

        li{
          padding: 1rem 0;

          a{
            color: $first-color-theme;
            text-decoration: none;
            transition:  0.5s ease;

            &:hover{
              padding: 0.5rem;
              border-radius: 5%;
              background-color: $second-color-theme;
            }
          }
        }
    }

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 240px;
      }
}

 // 768px - Tablet
 @media screen and (min-width: 48rem) {

  .main-nav {
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: 15;
    color: $text-color-light;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: none;
    overflow: visible;
    
    .logo-name{
      position: relative;
      color: $text-color-light;
      padding-top: 0.5rem;
      
      a{
        color: $text-color-light;
      }
    }

    ul{
      li{
        a{
          color: $text-color-light;

          &:hover{
            // padding: 0.2rem;
            color: $text-color-light;
            background-color: $second-color-theme;
            border-radius: 5%;
          }
        }
      }
    }
    // For Single Project Page
  .navbar-postpage{
    li{
        a{
        color: $text-color-dark;
        }
    }
  }
    .show & {
      display: flex;
      transition: none;
    }

    ul{
      display: flex;
      text-align: center;

    li {
      text-decoration: none;
      list-style: none;
      padding: 1rem;
    }

    a {
      padding: 0;
      text-align: center;
      border-top: none;
      @at-root .main-nav li:not(:first-child) a {
        border-top: none;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        color: $primary-theme-color;
        transition: 0.5s;
      }
    }

  }
  }

}

// Mobile Menu
.btn-main-nav {
    position: fixed;
    z-index: 99;
    bottom: 1vh;
    left: 1rem;
    display: block;
    color: transparent;
    background-color: $second-color-theme;
    border: 5px solid $fourth-color-theme;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    
    &:hover, &:active, &:focus{
      background-color: $fourth-color-theme;
      cursor: pointer;

    }
  }
  
  .hamburger-icon {
    margin: 0 3rem;
    cursor: pointer;
    
  }
  
  .line {
    background: $first-color-theme;
    display: block;
    position: relative;
    z-index: 99;
    transform: translate(0.75em);
    width: 36px;
    height: 4px;
    border-radius: 2px;
    margin: 7px;
    transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  
    .show &:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
      
      
    }
  
    .show &:nth-child(2) {
    opacity: 0;
    }
  
    .show &:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }

  // 768px - Tablet
  @media screen and (min-width: 48rem) {
    .btn-main-nav {
      visibility: hidden;
      margin: 0;
      
      padding: 0;
      list-style: none;
      line-height: 1;
      border: none;
      background: none;
      margin-right: 0.75em;
    }
  
  }