@use "variables" as *;

.main-nav {
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: $white;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease, visibility 0s 0.5s;

  .show & {
    transition: height 0.5s ease, visibility 0s;
    visibility: visible;
    height: 100vh;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
      text-align: center;
      padding: 3rem 0;
      a {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: $text-color-dark;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 2rem;
        transition: 0.3s ease;
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: $primary-theme-color;
        }
        @at-root .main-nav li:not(:first-child) a {
          border-top: 1px solid #d3d3d3;
          padding: 3rem 0;
          margin: 0 4rem;
        }
      }
    }
  }
}

// Mobile Menu
.btn-main-nav {
  color: transparent;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
  margin: 1rem;
}

.hamburger-icon {
  position: relative;
  right: 0;
  cursor: pointer;

  &:hover .line {
    background-color: $primary-theme-color;
  }
}

.line {
  background-color: $black;
  display: block;
  position: relative;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin: 5px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $primary-theme-color;
  }

  .show &:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .show &:nth-child(2) {
    opacity: 0;
  }

  .show &:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media screen and (min-width: 48rem) {
  .main-nav {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    transition: none;
    overflow: visible;
    padding-right: 4rem;

    .show & {
      display: flex;
      transition: none;
      // height: auto;
    }

    ul {
      flex-wrap: nowrap;
      width: 20rem;
      li {
        text-decoration: none;
        list-style: none;
        padding: 0rem;
        a {
          padding: 0;
          text-align: center;
          border-top: none;
          height: 100%;

          @at-root .main-nav li:not(:first-child) a {
            border-top: none;
            margin: 0;
          }
          transition: 0.3s;

          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
            color: $primary-theme-color;
          }
        }
      }
    }
  }

  .btn-main-nav {
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    border: none;
    background: none;
    margin-right: 0.75em;
  }
}
