@use "variables" as *;

.project-page-container {
  background-color: $background-color-light;
}

.project-page-title {
  position: absolute;
  top: 5rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 0 0 $default-spacing 0;
}

// Handle the section spacing between each area
section {
  display: block;
  position: relative;
  width: 100%;
  top: 11rem;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  line-height: 2rem;
  min-height: 100vh;
}

// 768px
@media screen and (min-width: 48rem) {
  .project-page-title {
    top: 10rem;
  }

  section {
    top: 15rem;
  }
}

// Problem/Solution Block
.block-1 {
  background-color: $second-color-theme;

  .project-page-cover {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc1 {
    width: 80%;
    color: $text-color-light;
  }

  .project-link-1 {
    width: 100%;
    text-align: center;
    margin: $default-spacing 0;

    a {
      color: $text-color-light;
      text-decoration: none;
      display: inline-block;
      justify-content: center;
      border: 2px solid $fourth-color-theme;
      border-radius: 2rem;
      padding: 1rem 1rem;
      transition: ease-in-out 0.2s;

      &:hover {
        color: $text-color-light;
        background-color: $fourth-color-theme;
      }
    }
  }
}

// 1296px
@media screen and (min-width: 81rem) {
  .project-page-container {
    justify-content: space-around;

    .project-page-cover {
      margin: 0 auto;
      max-width: 30%;
      height: 200px;
      object-fit: cover;
      margin: $default-spacing;
    }

    .project-page-desc1 {
      width: 40%;
      margin: $default-spacing;
    }
  }

  .block-1 {
    justify-content: center;
  }
}

// Software/Tools Used Block
.block-2 {
  background-color: $third-color-theme;
  color: $text-color-light;

  .project-page-image2 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc2 {
    width: 80%;
    margin: $default-spacing 0;
  }

  .project-page-desc3 {
    width: 80%;
    margin: $default-spacing 0;
  }
}

// 768px
@media screen and (min-width: 48rem) {
  .block-2 {
    .project-page-image2 {
      margin: 0 auto;
      max-width: 40%;
      height: 200px;
      object-fit: cover;
      margin: $default-spacing;
    }

    .project-page-desc2 {
      width: 40%;
      margin: $default-spacing;
    }

    .project-page-desc3 {
      width: 60%;
      margin: $default-spacing;
    }
  }
}

// 1296px
@media screen and (min-width: 81rem) {
  .block-2 {
    justify-content: center;
    .project-page-image2 {
      margin: 0 auto;
      max-width: 30%;
      height: 200px;
      object-fit: cover;
      margin: $default-spacing;
    }

    .project-page-desc2 {
      width: 40%;
      margin: $default-spacing;
    }

    .project-page-desc3 {
      width: 70%;
      margin: $default-spacing;
    }
  }
}

// Inspiration/Process Block

.block-3 {
  // background-color: $third-color-theme;
  // color: $text-color-light;
  margin: $default-spacing 0;
  .project-page-image3 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc4 {
    width: 80%;
    margin: $default-spacing 0;
  }
}

// 768px
@media screen and (min-width: 48rem) {
  .project-page-image3 {
    margin: 0 auto;
    max-width: 50%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc4 {
    max-width: 70%;
    margin: $default-spacing 0;
  }
}

// Examples Block
.block-4 {
  background-color: $second-color-theme;
  color: $text-color-light;

  .project-page-image4 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-image5 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc5 {
    width: 80%;
    margin: $default-spacing 0;
  }
}

// 768px
@media screen and (min-width: 48rem) {
  .block-4 {
    justify-content: center;

    .project-page-image4 {
      margin: 0 auto;
      max-width: 30%;
      height: 200px;
      object-fit: cover;
      margin: $default-spacing;
    }

    .project-page-image5 {
      margin: 0 auto;
      max-width: 30%;
      height: 200px;
      object-fit: cover;
      margin: $default-spacing;
    }

    .project-page-desc4 {
      max-width: 70%;
      margin: $default-spacing 0;
    }
  }
}

// Final Result Block
.block-5 {
  background-color: $third-color-theme;
  color: $text-color-light;

  .project-page-image6 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: $default-spacing;
  }

  .project-page-desc5 {
    width: 80%;
    margin: $default-spacing 0;
  }
}

@media screen and (min-width: 48rem) {
    .block-5 {
      justify-content: center;
  
      .project-page-image6 {
        margin: 0 auto;
        max-width: 30%;
        height: 200px;
        object-fit: cover;
        margin: $default-spacing;
      }
  
      .project-page-desc6 {
        max-width: 40%;
        margin: $default-spacing 0;
      }
    }
  }
