@use "variables" as *;

.circles {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  z-index: 99;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid $second-color-theme;
  border-radius: 50%;
  // background-color: #ccc;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.circle.active {
  background-color: $second-color-theme;
}

.home.active,
.about.active,
.works.active,
.contact.active {
  background-color: $second-color-theme;
}
