// COLOUR VARIABLES

$primary-theme-color: #48a4ff;
$secondary-theme-color: #39cd0d;

$text-color-dark: #2d2d2d;
$text-color-light: #ffffff;

$background-color-light: #eeeeee;
$background-color-dark: #2d2d2d;

$first-color-theme: #21013a;
$second-color-theme: #dd7157;
$third-color-theme: #3e1162;
$fourth-color-theme: #aa402b;

$code-color-bg: rgb(34, 34, 34);
// SPACING

$default-spacing: 2rem;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
