// COLOUR VARIABLES

$primary-theme-color: #48A4FF;
$secondary-theme-color: #39CD0D;

$text-color-dark: #2D2D2D;
$text-color-light: #FFFFFF;

$background-color-light: #FFFFFF;
$background-color-dark: #2D2D2D;