// COLOUR VARIABLES

$primary-theme-color: #48a4ff;
$secondary-theme-color: #39cd0d;
$white: #ffffff;
$black: #161616;

$text-color-dark: #2d2d2d;
$text-color-light: #ffffff;

$background-color-light: #fafafa;
$background-color-dark: #1a1a1a;
$background-color-code: #2c2035;

$first-color-theme: #21013a;
$second-color-theme: #dd7157;
$third-color-theme: #3e1162;
$fourth-color-theme: #aa402b;

$code-color-bg: rgb(34, 34, 34);
// SPACING

$default-spacing: 2rem;

// FONTS
@font-face {
  font-family: "Archivo";
  src: url("https://brandonbirk.ca/fonts/ArchivoBlack-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("https://brandonbirk.ca/fonts/Karla-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Tilt Warp";
  src: url("https://brandonbirk.ca/fonts/TiltWarp-Regular-VariableFont_XROT,YROT.ttf")
    format("truetype");
}
