@use "variables" as *;

.work-container{
    display: flex;
    flex-wrap: wrap;
    background-color: $background-color-light;
    justify-content: space-around;
    text-align: center;
    min-height: 100vh;
    
    .single-project{
        max-width: 35%;
        position: relative;
        z-index: 5;
        margin: 0 $default-spacing;
        justify-content: center;

        .project-title{
            padding: $default-spacing 0;
            font-size: 1.4rem;
            color: $third-color-theme;
        }

        .project-image{
            padding: 1rem 0;
            max-width: 100%;
            // position: absolute;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        .project-excerpt{
            margin: 0 0 3rem 0;
            height: 3rem;
            color: $first-color-theme;
        }
    }
}

.project-button {
    margin: $default-spacing;
    
    a{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    color: $first-color-theme;
    border: 2px solid $first-color-theme;
    border-radius: 2rem;
    padding: 1rem 1rem;
    transition: ease-in-out 0.2s;
    &:hover{
        background-color: $first-color-theme;
        color: $text-color-light;
    }
    }
}

// 768px 
@media screen and (min-width: 48rem) {
    .work-container {
        .single-project{
        max-width: 20%;
        }
    }
}

// 1296px
@media screen and (min-width: 81rem) {
    .work-container {
        justify-content: center;
        gap: $default-spacing;
        .single-project{
        max-width: 20%;
        }
    }
}