@use "variables" as *;
@import "mixins";

.work-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  justify-content: space-around;
  text-align: center;
  min-height: 100vh;
  padding: $default-spacing 0;

  .work-section-title {
    text-align: center;
    width: 100%;
    font-family: $main-font;
    font-size: 2.1rem;
    text-transform: uppercase;
    color: $primary-theme-color;
  }

  .single-project {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
    max-width: 500px;
    position: relative;
    z-index: 5;
    margin: $default-spacing;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #dddddd;
    padding: 1rem;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
    .project-text-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      max-width: 26rem;

      .project-title {
        font-size: 1.4rem;
        color: $text-color-dark;
        font-family: $main-font;
        font-weight: 400;
        width: 100%;
      }

      .project-excerpt {
        font-family: $text-font;
        color: $text-color-dark;
        width: 80%;
      }
    }

    .project-image {
      max-width: 100%;
      width: 800px;
      border-radius: 20px;
      margin: 0 auto;
      box-shadow: 0px 0px 10px #dddddd;
      object-fit: cover;
      max-height: 22rem;
    }

    .tools-used {
      width: 80%;
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 1rem 0;
      max-height: 2.3rem;

      p {
        color: $primary-theme-color;
        padding: 0.4rem 1rem;
        box-shadow: 0px 0px 10px #dddddd;
        font-weight: 400;
        font-size: 15px;
        font-family: $main-font;
      }
    }
  }
}

.project-button {
  a {
    @include works-button;
  }
}

// 768px
@media screen and (min-width: 48rem) {
  .work-container {
    .single-project {
      width: 60rem;
      flex-direction: row;
      .project-text-container {
        // width: 20rem;
        padding: 2rem 0;
      }

      .project-image {
        width: 30rem;
        margin: 0;
      }
    }
  }
}

// 1000px
@media screen and (min-width: 62.5rem) {
  .work-container {
    .single-project {
      max-width: 100%;
    }
  }
}
