@use "variables";
@use "home";
@use "navbar";
@use "about";
@use "work";
@use "contact";
@use "projectpage";
@use "scrollbutton";
@use "sectionhandler";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
